<div>
    <h2>All Project</h2>
    <div class="container-fluid">
        <h4>pending</h4>
        <table class="table table-hover table-sm">
            <thead>
                <th>Project name</th>
                <th>Description</th>
                <th>Url</th>
                <th>Group Members</th>
                <th>applicant</th>
                <th>Submit date</th>
                <th></th>
                <th></th>
            </thead>
        <tbody>
            <tr *ngFor = 'let item of Pending'>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td><a href='{{item.url}}' target='_new'>{{item.url}}</a></td>
                <td>{{item.groupMembers}}</td>
                <td>{{item.applicant}}</td>
                <td>{{item.dateSubmitted}}</td>
                <td><button class="btn-primary" (click)='approve(item._id)'>approve</button></td>
                <td><button class="btn-danger" (click)='reject(item._id)'>reject</button></td>
            </tr>
        </tbody>
    </table>
    <h4>Approved</h4>
        <table class="table table-hover table-sm">
            <thead>
                <th>Project name</th>
                <th>Description</th>
                <th>Url</th>
                <th>Group Members</th>
                <th>applicant</th>
                <th>Submintted date</th>
                <th>Approved date</th>
                <th>update</th>
                <th>delete</th>
            </thead>
        <tbody>
            <tr *ngFor = 'let item of Approved'>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td><a href='{{item.url}}' target='_new'>{{item.url}}</a></td>
                <td>{{item.groupMembers}}</td>
                <td>{{item.applicant}}</td>
                <td>{{item.dateSubmitted}}</td>
                <td>{{item.approvedBy}}</td>
                <td><button class="btn-primary" (click)='update(item._id,item.name,item.url,item.groupMembers,item.description)' routerLink="/updateproject">update</button></td>
                <td><button class="btn-danger" (click)='delete(item._id)'>delete</button></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>