<div>
    <div class="container-fluid">
        <h2><strong>Pending</strong></h2>
        <table class="table table-hover table-sm">
            <thead>
                <th>Project Name</th>
                <th>Description</th>
                <th>Url</th>
                <th>Group Members</th>
                <th>Applicant</th>
                <th>Date Submitted</th>
                <th></th>
                <th></th>
            </thead>
        <tbody>
            <tr *ngFor = 'let item of Pending'>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td><a href='{{item.url}}' target='_new'>{{item.url}}</a></td>
                <td>{{item.groupMembers}}</td>
                <td>{{item.applicant}}</td>
                <td>{{item.dateSubmitted}}</td>
                <td><button class="btn-primary" (click)='approve(item._id)'>approve</button></td>
                <td><button class="btn-danger" (click)='reject(item._id)'>reject</button></td>
            </tr>
        </tbody>
    </table>
    <h2><strong>Approved</strong></h2>
        <table class="table table-hover table-sm">
            <thead>
                <th>Project name</th>
                <th>Description</th>
                <th>Url</th>
                <th>Group Members</th>
                <th>Applicant</th>
                <th>Date Submitted</th>
                <th>Date Updated</th>
                <th></th>
                <th></th>
            </thead>
        <tbody>
            <tr *ngFor = 'let item of Approved'>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td><a href='{{item.url}}' target='_new'>{{item.url}}</a></td>
                <td>{{item.groupMembers}}</td>
                <td>{{item.applicant}}</td>
                <td>{{item.dateSubmitted}}</td>
                <td>{{item.dateUpdated}}</td>
                <td><button class="btn-primary" (click)='update(item._id,item.name,item.url,item.groupMembers,item.description)' routerLink="/updateproject">update</button></td>
                <td><button class="btn-danger" (click)='delete(item._id)'>delete</button></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>