<div>
    <h2>All Project</h2>
    <div class="container-fluid">
        <table class="table table-responsive">
            <thead>
                <th>Project Name</th>
            </thead>
        <tbody>
            <li colspan=3 *ngFor = 'let item of Projects'>
                {{item.name}}   Description: {{item.description}}
                <a href='{{item.url}}' target='_new'>See Webpage</a>
                <button (click)='update()'>update</button>
                <button class="btn-danger" (click)='delate(item._id)'>delete</button>
            </li>
        </tbody>
    </table>
    </div>
</div>